.container {
border: 1px solid black;
border-color: #ECB938;
border-radius: 20px;
max-height: 800px;
max-width: 800px; 
font-family: 'Courier New', Courier, monospace;
  background-image: linear-gradient(
    to bottom,
    #d73d6c,
    #d57276,
    #d6c2bc,
    #c0cccc,
    #65b2c6)
}

.currentWeatherInfo {
padding: 25px;
display: grid;
grid-template-columns: 1fr 1fr;
}

#currentCity {
    float: right;
}

#searchBar {
    width: 50%;
    border-radius: 5px;
    
}

.searchBarButton {
    border-radius: 5px;
    background-color:#c0cccc;
    border-color: #c0cccc;
}

.searchBarButton:hover {
    opacity: 0.2;
}
button {
    border-radius: 5px;
    border-color: #c0cccc;
    background-color:#c0cccc;
}

button:hover {
    opacity: 0.2;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.currentWeather .units {
    font-size: 15px; 
}

.currentWeather #currentTemp {
    font-size: 50px;
}

.currentWeather .active {
    color: black;
}

#currentCity {
    font-size: 18px;
    position: relative;
    text-align: center;
}
#currentDate {
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
}

.currentWeather {
   float: left;
  
}

.temperatureInfo {
    float: left;; 
    padding: 15px;
}


#futureForecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    
}

.futureDate {
    font-size: large;
    font-style: italic;
}


.highFutureWeather{
    font-size: large;
    
}

.lowFutureWeather {
     font-size: large;
     
};
